* {
    padding: 0;
    margin: 20px;
    font-family: inherit;
}

.box-ex1 {
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
}

button {
    padding: 5px;
}

#p1, #p2 {
    position: absolute; 
    margin: 37px;
    
}

.box-ex2 {
    height: 200px;
    width: 200px;
    background-color: rgb(121, 155, 238);
    position: relative;
}


.box-ex301 {
    height: 150px;
    width: 150px;
    background-color: rgb(223, 142, 142);
    position: relative;
}

.box-ex302 {
    height: 150px;
    width: 150px;
    background-color: rgb(196, 232, 124);
    position: relative;
}

#p301, #p302 {
    position: absolute;
}

.box-ex4 {
    height: 200px;
    width: 200px;
    background-color: rgb(100, 223, 129);
    position: relative;
}

#p4 {
    margin: 0;
}